body {
	min-width: 100%;

	background-color: aliceblue;
	display: flex;
	margin: auto;
	justify-content:center;
	font-family: 'Helvetica';
}
.root {
	min-width: 100%;
	min-height: 100%;
}
.app {
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.5) 0 6px 24px, rgba(0, 0, 0, 0.8) 0 0 0 1px;
	padding: 15%;
	margin-top: 6%;
	min-width: 100%;

	justify-content: center;
	transform: translate(-10%,0);
}
.home {
	min-width: 100%;
}
h2 {
	color: #999;
	display: flex;
	justify-content: flex-end;
}
h3 {
	display: flex;
	justify-content: center;
}

.MuiBox-root {
  	width: 500px;
  	overflow: hidden;
  	/*box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0.08) 0 0 0 1px;*/
	border: 1px solid #ccc;
}

.MuiBox-root form {
  display: flex;
  flex-direction: column;
  height:fit-content;
  padding: 20px;
}
.MuiInputBase-root {
	margin: 5%;
}

.auth-options button {
  width: 50%;
  border: none;
  padding: 10px;
  color: rgb(60, 61, 66);
}