body {
	min-width: 100%;
	min-height: 100%;
	background-color: aliceblue;
	display: flex;
	margin: auto;
	justify-content:center;
	font-family: 'Helvetica';
}
#root {
	min-width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
}

.app {
	background-color: rgb(255, 255, 255);

	margin-top: 6%;
	margin-bottom: 6%;
	min-width: 90%;
	width: 90%;
	
} 

.home {
	min-width: 100%;
}