.MuiDataGrid-panel {
	min-width: 780px;
	max-width: fit-content;
}
.MuiDataGrid-cell {
	white-space: break-spaces !important;
}

.MuiDataGrid-cellContent {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
}